/.metadata/
/classPath/
/.settings/
*.class
*.log
*.jar

target/maven-archiver/
target/maven-status/
target/surefire-reports/
target/jacoco.exec
target/classes/ProjetDevops/ProjetDevops/*.class
target/site/*
target/classes/.gitignore
